.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white);
}

.inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    color: #000;
    font-size: 16px;
    h1 {
        font-weight: 400;
    }
}

.account,
.favorite,
.cart {
    margin-left: 12px;
    border: none;
    background-color: white;
    font-size: 2rem;
    padding: 4px 12px;
    .account-icon,
    .cart-icon {
        width: 24px;
        height: 24px;
        color: #000;
    }
}


.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: 10px;
    left: 34px;
    border-radius: 10px;
    font-size: 1.6rem;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 18px;
    cursor: pointer;
}
