/* SideBar/SideBar.module.scss */
.wrapper {
    display: flex;
    padding: 15px;
    font-size: 1.6rem;
}

.category {
    display: flex;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    position: relative;

    p {
        font-weight: 400;
        cursor: pointer;
    }

    // Thanh dưới chân xuất hiện khi hover hoặc khi active
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #000; // Màu của thanh dưới chân
        transition: width 0.3s ease;
    }

    // Khi hover, mở rộng thanh dưới chân
    &:hover::after {
        width: 100%;
    }

    // Khi active, hiển thị thanh dưới chân
    &.active::after {
        width: 100%;
    }
}

.title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.sub-title {
    padding: 6px 28px;
    font-size: 1.6rem;
    font-weight: 500;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.cate-list {
    width: 260px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 48px;
}

.cate-item {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 1.6rem;
    font-weight: 500;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
