@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin flex-center {
    @include flex(row, center, center);
}
